<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강좌 상세 페이지</title>
    <style>
        span.price {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div th:replace="/fragments/layout.html :: fragment-body-menu">


</div>
<h1>강좌 상세 페이지</h1>

    <div th:text="${detail}">

        <h2 >강좌명 :
            <span th:text="${detail.subject}"> </span>
        </h2>

        <div th:utext="${detail.contents}">
            컨텐츠
        </div>

        <div>
            <p>할인 가격:  <span th:text="${detail.salePrice}"></span></p>
            <p>정가 :  <span th:text="${detail.price}"></span></p>
        </div>
        <div>
            <button type="button">수강신청</button>
        </div>
    </div>



</body>
</html>